# editors
.idea/
.vscode/

# os
.DS_Store
Thumbs.db

# environment variables
.env
env/

# python
__pycache__/
*.py[oc]
.ruff_cache/
.mypy_cache/

# custom exclusions
oh-my-zsh/
bash_history
zsh_history
versions/
preinit.zsh
postinit.zsh
